@import "variables.scss";

.home-pg-container {
    height: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35% auto;
}

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap')