$lightGreen: rgb(133, 253, 97);

$darkGreen: #398b20;

$white:  #ffffff;
$black: #151E28;
$blue: rgb(82, 136, 223);
$red: #fa3d3d;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

$primaryFont: 'Dosis'